
.ipynb_checkpoints/0_ToyModel-checkpoint.ipynb
.ipynb_checkpoints/1_SimpleGWLELO-checkpoint.ipynb
.ipynb_checkpoints/2_GWLmapscoreELO-checkpoint.ipynb
.ipynb_checkpoints/0_ToyModel-checkpoint.ipynb
.ipynb_checkpoints/0_ToyModel-checkpoint.ipynb
.ipynb_checkpoints/0_ToyModel-checkpoint.ipynb
